
# # Database Configuration
DATABASE_URL="mysql://saqib_hr:irisSaqib1998asd@147.79.100.197:3306/saqib_hr"
SHADOW_DATABASE_URL="mysql://saqib_hr_shadow:irisSaqib1998asd@147.79.100.197:3306/saqib_hr_shadow"

DATABASE_HOST="147.79.100.199"
DATABASE_USER="saqib_hr"
DATABASE_PASSWORD="irisSaqib1998asd"
DATABASE_NAME="saqib_hr"

# DATABASE_URL="mysql://root:123456789@localhost:3306/hr"
# SHADOW_DATABASE_URL="mysql://root:123456789@localhost:3306/hr_shadow"

# DATABASE_HOST="127.0.0.1"
# DATABASE_PORT="3306"
# DATABASE_USER="root"
# DATABASE_PASSWORD="123456789"
# DATABASE_NAME="hr"



# Security Keys
JWT_SECRET="secret"
COOKIE_SECRET="tatta"

# Frontend URL (Important for CORS and Reset Links)
COMPANY_DOMAIN="https://hr.iriscommunications.cloud/"
FRONTEND_URL="https://hr.iriscommunications.cloud/"

# ZKTeco device timezone (Pakistan Standard Time = UTC+5)
ZKTECO_TIMEZONE_OFFSET_MINUTES=300

# Email Configuration
MAIL_MAILER=smtp
MAIL_HOST=mail.iriscommunications.com.pk
MAIL_PORT=465
MAIL_USERNAME="nadia@iriscommunications.com.pk"
MAIL_PASSWORD="irisNA @9420asd"
MAIL_ENCRYPTION=ssl
MAIL_FROM_ADDRESS="nadiaasd@iriscommunications.com.pk"
MAIL_FROM_NAME="Nadiaasd"

