node_modules
# Keep environment variables out of version control
.env

# zip files
*.zip


# logs
*.log
error_log

# passenger files
passenger.*

# pid files
*.pid
*.pid.lock


# setup files
CLOUDINARY_SETUP.md
LEAVE_REQUEST_SETUP.md

/src/generated/prisma
